body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  padding: 20px;
  background-color: #a626d3;
  background-image: linear-gradient(to right, #672280, #a626d3);
}

.logo {
  width: 31px;
  margin-right: 10px;
}

.logo-title {
  font-size: 20.75px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.sub-title {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: #fff;
  margin-left: auto;
}
